<%- include partials/header.ejs %>

    <h1>Jaclyn Beder</h1>
    <p>The mother of Logan. She has taken care of him for most of his life, along with Peter.</p>
    <p><b>Did a very good job.</b></P>

<%- include partials/footer.ejs %>
