<%- include partials/header.ejs %>

    <h1>John McFadden</h1>
    <p>Logan's Stepfather and the guy who walks around the house without a shirt ever.</P>
      <h2>Is the only reason I am actually able to go to college.</h2>

<%- include partials/footer.ejs %>
