<%- include partials/header.ejs %>

    <h1>Logan Sikora-Beder</h1>
    <p>The student who is currently working on this project</p>
    <h4>Really thinks that he should have put more effort into the css of the fonts and pages for this</h4>

<%- include partials/footer.ejs %>
