<%- include partials/header.ejs %>

    <h1>Peter Sikora</h1>
    <p>Logan's Father and world renoned ice fisherman</P>
      <p></b>Needs to learn to take better care of himself</b></p>

<%- include partials/footer.ejs %>
